@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contain {
  width: 90%;
  margin: 0 auto;
}

.overflow-hiddens {
  overflow: hidden !;
}